@font-face {
  font-family: 'UniNeueBold';
  src: url('UniNeueBold.eot');
  src: url('UniNeueBold.eot?#iefix') format('embedded-opentype'),
       url('UniNeueBold.svg#UniNeueBold') format('svg'),
       url('UniNeueBold.ttf') format('truetype'),
       url('UniNeueBold.woff') format('woff'),
       url('UniNeueBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

